# ----------------------------------------------------
# VARIABLES PARA VERCEL (NUBE Y SEGURIDAD)
# Estas variables deben ser introducidas en el panel de Vercel.
# ----------------------------------------------------

# 1. Seguridad Basic Auth (Opcional pero muy recomendado)
# Escribe el usuario y la contraseña genérica con la que quieres proteger tu web
AUTH_USER="ander"
AUTH_PASS="contraseña1234"

# 2. Base de Datos Vercel KV / Upstash Redis
# (Estas url y token las generará Vercel automáticamente al crear el Storage KV, solo tienes que conectarlo a tu proyecto en Producción)
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
